@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Share_Tech_Mono", sans-serif;
    font-weight: 400;
}

.container {

    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background: #FFFFFF;
    border: 1px solid #242424;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo {
    padding: 12px 0;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 80px;
}

.header__nav-list_item-link {
    color: #242424;
    font-family: "Share_Tech_Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;

}

#unique {
    border-bottom: 2px solid #242424;
}

.banner {
    height: 666px;
    background: url(../img/bg.png) no-repeat center bottom/cover;

}

.banner__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.banner__title {
    color: #242424;
    font-family: "Share_Tech_Mono", sans-serif;
    font-weight: 400;
    font-size: 80px;
}

.banner__link {
    display: inline-block;
    max-width: 262px;
    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #242424;
    color: #242424;
    font-family: "Share_Tech_Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    transition: 0.5s;
}

.banner__link:hover {
    background: #242424;
    color: #FFFFFF;

}

.information {
    margin-top: 80px;
    margin-bottom: 80px;
}

.information__wrap {
    display: flex;
    gap: 20px;
}

.information__img {
    max-width: 638px;
    width: 100%;
}

.information__letter {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.information__title {
    font-family: "Share_Tech_Mono", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #242424;

}

.information__desc {
    font-family: "Share_Tech_Mono";
    font-weight: 400;
    font-size: 20px;

}

.information__wrap2 {
    display: flex;
    gap: 20px;
}

.information__letter2 {
    max-width: 545px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.information__desc2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #242424;
    font-family: "Share_Tech_Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.information__title2 {
    font-family: "Share_Tech_Mono", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #242424;
}

.information__link {
    display: inline-block;
    max-width: 262px;
    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #242424;
    color: #242424;
    font-family: "Share_Tech_Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    transition: 0.5s;
}

.information__link:hover {
    background: #242424;
    color: #FFFFFF;

}

.information__img2 {
    min-width: 545px;
    width: 100%;
}

.information2 {
    margin-bottom: 140px;
}

footer {
    background: #FBFBFB;
    border: 1px solid #242424;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__nav-newsletter {
    padding: 40px 0;
}

.footer__nav-newsletter_title {
    font-family: "Share_Tech_Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #242424;
}

.footer__nav-newsletter_desc {
    max-width: 268px;
    width: 100%;
    font-family: "Share_Tech_Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Share_Tech_Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #242424;
    gap: 20px;

}

.footer__contacts-tel {
    font-family: "Share_Tech_Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #242424;

}

.footer__contact-link {
    list-style: disc outside none;
    font-family: "Share_Tech_Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #242424;
}

.footer__nav-apps {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__nav-apps-ik {
    display: flex;
    gap: 40px;
    align-items: center;
}

.title__undo {
    max-width: 168px;
    width: 100%;
    border-bottom: 2px solid black;
    position: absolute;
    top: 832px;
    right: 630px;
}

.title__undo2 {
    max-width: 168px;
    width: 100%;
    border-bottom: 2px solid black;
    position: absolute;
    left: 630px;
    top: 1308px;
}